body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  margin: 2.5rem 1rem;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 900px) {
  .Wrapper {
    flex-direction: row;
  }
  main {
    margin: 3rem 0;
  }
}
