<section id="libros">
  <h1 class="mb-4">Libros</h1>
  <app-search-widget></app-search-widget>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr class="table-dark">
        <th scope="col" class="p-3 col-md-1">ISBN</th>
        <th scope="col" class="p-3 col-md-2">Título</th>
        <th scope="col" class="p-3 col-md-2">Autor</th>
        <th scope="col" class="p-3 col-md-2">Editorial</th>
        <th scope="col" class="p-3 col-md-1">Género</th>
        <th scope="col" class="p-3 col-md-1"></th>
      </tr>
    </thead>
    <tbody *ngIf="books; else Spinner">
      <tr *ngFor="let book of books">
        <th scope="row" class="p-3 Isbn"><span>ISBN</span>{{ book.id }}</th>
        <td class="p-3"><span>Título</span>{{ book.title }}</td>
        <td class="p-3"><span>Autor</span>{{ book.author }}</td>
        <td class="p-3"><span>Editorial</span>{{ book.edit }}</td>
        <td class="p-3"><span>Género</span>{{ book.category }}</td>
        <td class="align-middle p-3">
          <button type="button" class="btn btn-primary Request">
            Solicitar
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #Spinner
      ><div
        class="spinner-border text-dark position-absolute top-50 start-50 translate-middle"
        role="status"
      >
        <span class="visually-hidden">Cargando...</span>
      </div></ng-template
    >
  </table>
  <app-pagination *ngIf="books" [numPages]="4"></app-pagination>
</section>
