section {
  padding: 1rem;
}

.Isbn {
  font-size: 0.8rem;
}

tbody span {
  display: none;
}

tbody tr:first-child,
tr:nth-child(2n + 3) {
  background: rgba(0, 0, 0, 0.05);
}

tr:hover {
  background: rgb(214, 214, 214);
}

.Spinner {
  margin-top: 10%;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .Isbn {
    background: #212529;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid rgb(190, 190, 190);
  }

  tbody span {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  thead {
    display: none;
  }

  td,
  th {
    padding: 0.7rem !important;
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
