<section id="libros" class="Libros" *ngIf="books && !isLoading;">
  <h1 class="mb-4">Libros</h1>
  <app-search-widget (searchEvent)="search($event)"></app-search-widget>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr class="table-dark">
        <th scope="col" class="p-3 col-md-1">ISBN</th>
        <th scope="col" class="p-3 col-md-2">Título</th>
        <th scope="col" class="p-3 col-md-2">Autor</th>
        <th scope="col" class="p-3 col-md-2">Editorial</th>
        <th scope="col" class="p-3 col-md-1">Género</th>
        <th scope="col" class="p-3 col-md-1"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let book of books">
        <th scope="row" class="p-3 Isbn"><span>ISBN</span>{{ book.id }}</th>
        <td class="p-3"><span>Título</span>{{ book.title }}</td>
        <td class="p-3"><span>Autor</span>{{ book.author }}</td>
        <td class="p-3"><span>Editorial</span>{{ book.edit }}</td>
        <td class="p-3"><span>Género</span>{{ book.category }}</td>
        <td class="align-middle p-3">
          <button type="button" class="btn btn-primary Request">
            Solicitar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="!books.length && !isLoading">Libro no encontrado.</h2>
  <app-pagination *ngIf="books.length" [numPages]="4"></app-pagination>
</section>
<div class="Spinner" *ngIf="isLoading">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
<app-error-feedback *ngIf="!isLoading && error"
  message="El servidor no respondió. Asegúrese de que se esté ejecutando la API y la base de datos.">
</app-error-feedback>