<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a
        class="page-link"
        [routerLink]="[]"
        [queryParams]="{ page: prevPage() }"
        >Anterior</a
      >
    </li>
    <li aria-current="page" *ngFor="let pages of pages; let i = index">
      <a
        class="page-link"
        [routerLink]="[]"
        [queryParams]="{ page: i + 1 }"
        [routerLinkActive]="['active']"
        >{{ i + 1 }}</a
      >
    </li>
    <li class="page-item">
      <a
        class="page-link"
        [routerLink]="[]"
        [queryParams]="{ page: nextPage() }"
        >Siguiente</a
      >
    </li>
  </ul>
</nav>
