<div class="container m-auto w-75 text-center">
    <div class="row">


        <div class="col-sm bg-light rounded p-5 m-3" id="login">
            <img class="mb-3 rounded-circle " style="width:75px;" src="assets/profile-img.png" alt="">
            <h4>Iniciar sesión</h4>
            <input class="bg-transparent mt-3 text-primary" type="text" placeholder="Usuario"><br>
            <input class="bg-transparent mt-3 text-primary" type="password" placeholder="Contraseña"><br>
            <a name="" id="" class="btn btn-primary btn-sm mt-3" href="#" role="button">Ingresar</a>
          </div>


      <div class="col-sm bg-dark rounded p-5 m-3" id="register">
        <img class="mb-3 rounded-circle" style="width:75px" src="assets/profile-img.png" alt="">
        <h4 class="text-light">Registrarse</h4>
        
                <input class="bg-transparent mt-3 mx-3 text-light" type="text" placeholder="Nombre">
                <input class="bg-transparent mt-3 mx-3 text-light" type="number" placeholder="Teléfono">
                <input class="bg-transparent mt-3 mx-3 text-light" type="text" placeholder="Usuario"> 
                <input class="bg-transparent mt-3 mx-3 text-light" type="password" placeholder="Contraseña"> 
        <a name="" id="" class="btn btn-outline-light btn-sm mt-3" href="#" role="button">Registro</a>
        
      </div>
 
    </div>
  </div>