<section id="prestamos" *ngIf="loans && !isLoading;">
  <h1 class="mb-4">Préstamos</h1>
  <table class="table table-responsive table-bordered">
      
    <thead>
      <tr class="table-dark">
        <th scope="col" class="p-3 col-md-1">ID</th>
        <th scope="col" class="p-3 col-md-2">ISBN</th>
        <th scope="col" class="p-3 col-md-2">Libro</th>
        <th scope="col" class="p-3 col-md-2">Fecha de préstamo</th>
        <th scope="col" class="p-3 col-md-1">Fecha de devolución</th>
      </tr>
    </thead>

    <tbody *ngIf="loans && !isLoading;">
      <tr *ngFor="let loan of loans">
        <th scope="row" class="p-3 Id"><span>ID</span>{{ loan.id }}</th>
        <td class="p-3"><span>ISBN</span>{{ loan.book.id }}</td>
        <td class="p-3"><span>Libro</span>{{ loan.book.title }}</td>
        <td class="p-3"><span>Fecha de préstamo</span>{{ loan.dateOut | date: 'dd/MM/yyyy' }}</td>
        <td class="p-3"><span>Fecha de devolución</span>{{ loan.dateReturn | date: 'dd/MM/yyyy' }} <div
            class="text-primary"> {{'( ' + getDaysLeftToReturn(loan.dateReturn) + ' días restantes )'}}
          </div>
        </td>
      </tr>
    </tbody>

  </table>
  
  <p *ngIf="!loans.length && !isLoading && !error">No hay préstamos</p>
</section>

<div class="Spinner" *ngIf="isLoading">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<app-error-feedback *ngIf="!isLoading && !loans"
  message="El servidor no respondió. Asegúrese de que se esté ejecutando la API y la base de datos.">
</app-error-feedback>