.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  text-shadow:none;
  font-weight:normal;
  margin-bottom: 10px;

}

.cover-container {
  max-width: 42em;
}

a{
  text-decoration: none;
  color: white;
}