



  <div class="px-5 mx-auto">

    <section class="px-1 text-left">

      <img class="d-flex justify-content-center m-auto mb-5" src="../../../assets/logo.svg" alt="Biblioteca Popular, logo" width="100" title="libros">
    
      <h3 class="text-center">Bienvenidos a Biblioteca Popular</h3> <h3 class="text-center">El mejor sitio para encontrar nuevas lecturas.</h3>

      <div class="d-flex justify-content-center">
        <button (click)="login()" type="button" class="btn btn-primary mb-3 mt-3 mx-3">Iniciar sesión</button>  
      </div>

      <br>
      <span _ngcontent-jui-c24="" class="fs-5">En pocos minutos, de forma intuitiva y amigable,
        reserva online tu próximo libro:</span>
      <br>
      <br>
      <p>
        No hay mejor recomendador de libros que alguien que te conoce. Un amigo, un familiar o un bibliotecario.
        También
        <strong>esta app puede hacerlo, </strong> funciona de una manera muy simple: eliges el título, género o el
        autor
        de algún libro que te haya gustado y, basándose en ello, el sitio te mostrará los títulos disponibles.
        Desde luego, también podrás buscar por género, autor o título específico.
      </p>
      <p>
        ¡Haz tu reserva online! Autogestiona el préstamo de tu próximo Libro ahora, si ya eres usuario solo debes
        Iniciar Sesión, sino tienes una cuenta aún:
      </p>
     
      <p>
        Biblioteca Popular utiliza un Sistema de Gestión para Bibliotecas Públicas, mediante el cual se puede
        controlar y administrar de forma óptima y fácil el flujo de préstamos y devoluciones de Libros.
        Utilizándola en su formato App de Escritorio, este entorno de trabajo, además de permitir mantener control
        completo y detallado de una Biblioteca, brinda acceso a herramientas funcionales para tareas específicas:
      </p>
      <ul>
        <li><strong>Prestamos/Reservas-online.</strong></li>
        <li><strong>Devoluciones.</strong></li>
        <li><strong>Registro de usuarios y libros existentes.</strong></li>
        <li><strong>Eliminación de todo tipo de registros.</strong></li>
        <li><strong>Sección de reportes de acciones en el sistema.</strong></li>
      </ul>

       <!------------------

      <p>
        Su formato App web, se orienta a la promoción e incremento del hábito de la lectura, facilitando la
        Autogestión de la reserva del ejemplar consultado por el lector, quien deberá contar con una cuenta
        de usuario para ello.
      </p>

      <p>

       

        Si deseas obtener mayor información sobre este sistema de Gestión, envíanos un mensaje:
        </p>
        <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary"><a href="mailto:info@gestorDeBibliotecas.com" target="_blank" >Conocer más</a></button>
        </div>

      ----------->

    </section>


  </div>


