<!--<section>  -->

    <div class="d-flex h-100 text-center text-bg-white">
    
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <section class="px-3">
          <h2>Bienvenidos a Biblioteca Popular, el mejor sitio para encontrar nuevas lecturas.</h2>
          <br>
          <h4>En pocos minutos, de forma amigable e intuitiva reserva OnLine tu próximo libro:</h4>

          <p>
            No hay mejor recomendador de libros que alguien que te conoce. Un amigo, un familiar o un bibliotecario. También
            <strong>esta app puede hacerlo, </strong> funciona de una manera muy simple: eliges el título, género o el autor 
            de algún libro que te haya gustado y, basándose en ello, el sitio te mostrará los títulos disponibles. 
            Desde luego, también podrás buscar por género, autor o título específico.
          </p>
    
          <p>
            ¡Haz tu reserva OnLine! Autogestiona el préstamo de tu próximo Libro, solo necesitas Iniciar sesión o registrarte,
            sino tienes una cuenta aún:</p>
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">¡Resgistrate aquí!</a>
           <!--<a routerLink="/registro">-->
    
          <p>
            Biblioteca Popular es un Sistema de Gestión para Biblioteca Pública, mediante el cual se puede
            controlar y administrar de forma óptima y fácil el flujo de préstamos y devoluciones de Libros.
            Utilizándola en su formato App de Escritorio, esta herramienta además de permitir mantener control 
            completo y detallado de una Biblioteca, brinda acceso a herramientas especiales para tareas específicas:
            <br>
            -Prestamos/Reservas-Online.
            -Devoluciones.
            -Registro de usuarios y libros existentes.
            -Eliminación de todo tipo de registros.
            -Sección de reportes de acciones en el sistema.
            <br><br>
            Su formato App web, se orienta a la promoción e incremento del hábito de la lectura, facilitando la Autogestión
            de la reserva del ejemplar consultado por el lector, quien deberá contar con una cuenta de usuario para ello.
          </p>
        
          <p>
            Si deseas obtener mayor información para adquirir el sistema de gestión de bibliotecas, puedes solicitarlo
            enviandonos un mensaje, haz click aquí:
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Solicito info</a>
          </p>
    
        </section>
    
      </div>
    
    </div>
    
    <!-- </section>  -->
