<div class="Sidebar">
  <app-menu-ico [isOpen]="isMenuOpen" (click)="toggleMenu()"></app-menu-ico>
  <nav
    [ngClass]="
      isMenuOpen
        ? 'Sidebar--opened collapse d-flex flex-column flex-shrink-0 px-3 py-4 text-white bg-dark'
        : 'Sidebar--closed collapse d-flex flex-column flex-shrink-0 px-3 py-4 text-white bg-dark'
    "
    id="sidebar"
  >
    <a
      routerLink="/"
      class="d-flex align-items-center me-md-auto text-white text-decoration-none Sidebar__Brand"
    >
      <img
        class="bi me-2"
        src="../../../assets/logo.svg"
        alt="Biblioteca Popular, logo"
        width="40"
        height="32"
      />
      <span class="Sidebar__Title">Biblioteca Popular</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto mt-4">
      <li class="nav-item">
        <a
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['active']"
          class="nav-link text-white"
          aria-current="page"
        >
          <img
            src="../../../assets/icons/home.svg"
            alt="Ir a inicio"
            width="16"
            class="bi me-2"
            height="16"
          />
          Inicio
        </a>
      </li>
      <li>
        <a
          routerLink="libros"
          [routerLinkActive]="['active']"
          class="nav-link text-white"
        >
          <img
            src="../../../assets/icons/book.svg"
            alt="Ver libros disponibles"
            width="16"
            class="bi me-2"
            height="16"
          />
          Libros
        </a>
      </li>
      <li>
        <a
          routerLink="prestamos"
          [routerLinkActive]="['active']"
          class="nav-link text-white"
        >
          <img
            src="../../../assets/icons/loan.svg"
            alt="Préstamos"
            width="16"
            class="bi me-2"
            height="16"
          />
          Préstamos
        </a>
      </li>
    </ul>
    <hr />
    <div>
        <img 
          [src]="user.avatar"
          alt="Mi perfil"
          width="32"
          class="rounded-circle mx-3"
          height="32"
        />
        <a style="text-decoration:none" class="text-light" href="/dashboard">Mi perfil</a>
    </div>
  </nav>
</div>
