.SearchWidget {
  display: flex;
  gap: 1rem;
  width: 100%;
}

select {
  width: 400px;
  height: 38px;
}

@media screen and (max-width: 600px) {
  select {
    font-size: 0.66rem;
    width: 100px;
  }

  .SearchWidget {
    gap: 0.5rem;
  }
}
